.word {
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 18px;
    color: #D4D4D4;
    background-color: #1E1E1E;
    padding: 8px 10px;
}

.first-word-in-line {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.last-word-in-line {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.word-not-narrated-yet {
    color: #808080;
}

.word-being-narrated {
    color: #569CD6;
    font-weight: bold;
    background-color: #252526;
}

.word-already-narrated {
    color: #D4D4D4;
}
