/* Considerar fuentes monoespaciadas o pixeladas en hacker_console_resources/
   Ej: PerfectDOSVGA.ttf
@font-face {
    font-family: 'ConsoleFont';
    src: url('hacker_console_resources/PerfectDOSVGA.ttf');
}
*/
.word {
    /* font-family: 'ConsoleFont', 'Lucida Console', 'Courier New', monospace; */
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 20px; /* Para un look de consola, más pequeño, parecerá un 32px */
    color: #33FF33; /* Verde brillante */
    background-color: #000000; /* Fondo negro puro */
    padding: 5px 5px; /* Padding mínimo, casi inexistente */
    /* text-shadow: 0 0 3px #33FF33; */ /* Opcional: ligero brillo verde */
}

.word-not-narrated-yet {
    color: #228B22; /* Verde más oscuro para lo que vendrá */
}

.word-being-narrated {
    color: #99FF99; /* Verde más claro y brillante para la palabra activa */
    background-color: #111111; /* Un fondo ligeramente distinto si se quiere */
    /* text-shadow: 0 0 5px #99FF99; */
}

.word-already-narrated {
    color: #33FF33; /* Vuelve al verde base */
}